.moonSkeContainer{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(90deg, #0e0e0e00 50%, #f5f5f5a5 50%, #0e0e0e00 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
  margin-bottom: -3rem;
}

@keyframes skeleton-loading {
    0% {
        background-position: -200% 0
    }
    100% {
        background-position: 200% 0
    }
}