.readMoreContainer{
    margin: 0;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 10px;
   
    
    
}



.title{
    margin: auto;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.text{
   
    margin: 0;
    padding-bottom: 0.7rem;
    
    transition: height 600ms ease;
   
}
.text::first-letter{
    text-transform: capitalize;
}

.buttonReadMore{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline gray;
}