.readMoreContainer{
    margin: 0;
    padding: 2px 5px;
    background-color: aquamarine;
    border-radius: 10px;
    transition: height 1s ease;
    
}

.title{
    margin: auto;
    text-align: center;
    font-size: 1rem;
}
.text{
    display: inline;
    margin: 0;
    padding: 0;
}

.buttonReadMore{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline gray;
}