.container{
overflow: hidden;
    border: thin 10px red;
    border-radius: 2rem;
    display: flex;
    gap: 2px;
}

.containerImage{
    overflow: hidden;
padding: 0;
margin: 0;

}


.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease;
    
    
}
.image:hover{
    transform: scale(1.2);
}