.coverflowSlider {
  width: 80%;
  height: 400px;

  margin: auto;
  perspective: 1000px; /* For 3D effect */
  overflow: hidden;
  position: relative;
  
  
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  position: relative;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  /*width: var(--slide-size-width);350px*/
  height: 500px;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.slice img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.slide.active {
  cursor: default;
}
