:root {
  --position-no-moons: 9rem;
  --position-moons: 6rem;
}
.coverflowSlider {
  width: 80%;
  height: 400px;

  margin: auto;
  perspective: 1000px; /* For 3D effect */
  overflow: hidden;
  position: relative;


}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
   /* transform: translateX(-1.2rem);  */
   margin-right: 20rem;
  position: relative;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  width: 230px;
  height: 500px;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  background: linear-gradient(transparent, #1f1e1e 80%, rgba(230, 13, 13, 0.7) 170%);
  bottom: -6rem;
  opacity: 0;
  z-index: -2;
  transition: all 1.2s ease;
}

.astroImg{
  width: 12.8rem;
  height: 12.8rem;
}
.slide:hover::after {
  opacity: 1;
  bottom: 0;
}
.containerCustomButton {
  margin: 0;
  padding: 0;
  transform: translateY(11rem);
  transition: transform 450ms ease;
}

.slide:hover .containerCustomButton {
  transform: translateY(-2rem);
}

@media screen and (min-width: 1024px){
  .slide{
    height: 500px;
    width: 320px;
  }

  .astroImg{
    height: 20rem;
    width: 20rem;
  }

  .slides{
    margin-right: 0;
  }
}

@media screen and (max-width: 377px){
  .slide{
    height: 26rem;
  }
  .slides{
    position: relative;
    left: -22px;
  }
}

@media screen and (min-width: 1600px){
  .slides{
    height: 25rem;
  }
}
