.buttonContainer {
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 6rem;
  text-transform: capitalize;
  transition: all 200ms linear;
  border: none;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.buttonContainer::before,
.buttonContainer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  
  background: conic-gradient(
    from var(--angle),    #ff4545,
    #d432e0,
    #7b00ff,
    #ff6a00
  );
  translate: -50% -50%; /* first one is X and second one is Y */
  animation: colors 2s linear infinite;
  z-index: -1;
  padding: 0.2rem;
  opacity: 1;
  border-radius: 10px;
  filter: blur(5px);
}

.buttonContainer::before {
  /* we could set opacity value below here to make the colors  less shiny */
  filter: blur(1.5rem);
}

.buttonContainer:hover{
    z-index: 0;
    color: white;
    transform: scale(1.08);
}

.buttonContainer:hover::before{
  opacity: 0;
  filter: blur(0px);
}



@keyframes colors {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
