.buttonContainer {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 7rem;
  text-transform: capitalize;

  border: none;
  
}

.buttonContainer::before, .buttonContainer::after {
     content: "";
     position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  background: linear-gradient(80deg,#ff4545, #006aff, green);
  translate: -50% -50%; /* first one is X and second one is Y */
  animation: colors 1.5s infinite;
  z-index: -1;
  padding: 0.3rem;
  background-size: 200% 200%;
  border-radius: 10px;
 
}

.buttonContainer::before{
    filter: blur(1.5rem);
}



@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
