body {
   
    overflow: hidden;
    margin: 0;
}

.space-1{
    --size: 2px;
    --space-layer: 
      4vw 50vh 0 #fff,
      18vw 88vh #fff;
  
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
}