.space-1 {
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: stars-dance var(--duration) linear infinite;
  transition: transform 2s linear;
}

@keyframes stars-dance {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vh);
  }
}
